@model Carubbi.GenericRepository.PagedListResult<SmartLMS.Domain.Services.SearchResult>
@{
    ViewBag.Title = "Resultados de busca";
    string termo = ViewBag.Termo != null ? ViewBag.Termo.ToString() : string.Empty;
    var i = 1;
}
<div class="main">
    <!--header-->
    <div class="container">
        @Html.Partial("_Menu")
        <div class="logo_box">
            <h1 class="navbar-brand navbar-brand_"><a href="~/"><img src="~/Content/img/logo.png" alt="logo"></a></h1>
            @Html.Partial("_BuscaContextual", termo)
        </div>
    </div>

</div>
<div class="content indent">
    <!--content-->
    <div class="container">
        <h2 class="indent">Resultados da busca para o termo '@termo':</h2>
        <div id="search-results">
            <ol class="search_list">
                @foreach (var resultado in Model.Entities)
                {
                    <li class="wow fadeInLeft" data-wow-delay="0.@(i)s">
                        <h4 class="search_title">
                            <a target="_blank" href="http://www.codigonerd.net/smartlms/@resultado.Link" class="search_link">
                                <i class="fa @resultado.Icon"></i> @resultado.Description
                            </a>
                        </h4>
                    </li>
                    i++;
                }


            </ol>
            @if (Model.Count == 0)
            {
                <h4>Nenhum resultado encontrado para o termo <span class="search">'@termo'</span></h4>
            }
        </div>
    </div>
</div>
@Html.Partial("_Rodape")

@section scripts {
    <script>
        $(function(){
            $("#btn-buscar").on("click", function () {
                $(this).closest("form").submit();
            });
        });
</script>
    
    }