@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
 <div class="main">
    <!--header-->
    <div class="container">
        @Html.Partial("_Menu")
        <div class="logo_box wow animated zoomInDown">
            <h1 class="navbar-brand navbar-brand_"><a href="~/"><img src="~/Content/img/logo.png" alt="logo"></a></h1>
            @Html.Partial("_BuscaContextual", Model.Termo ?? string.Empty)
        </div>
    </div>
     @Html.Partial("_AssuntosDestaque", Model.AssuntosDestaque)
</div>
@Html.Partial("_BarraResumos")
@Html.Partial("_CanaisSociais")
@Html.Partial("_Inscricao")
@Html.Partial("_Sobre")
@Html.Partial("_Rodape")


@section scripts {
    <script src="~/Scripts/leads.js" data-nome="leads.js" 
    data-ambiente="producao" 
    data-projeto="DB82C626-927E-E611-9BB9-3C4A92F08737" 
    data-controle-email-contato="email-contato" 
    data-controle-criar-contato="enviar-contato">
    </script>
    <script>
        $(function(){
            $("body").on("leads.contatoCriado", function(){
                $(".success").show();
                $("#email-contato").val("");
            });

          
            $("#btn-buscar").on("click", function () {
                $(this).closest("form").submit();
            });
        });
 

    </script>
}
